body {
    text-align: center;
    background: #333;
}

#footer {
  color: #ff8c1a;
  width: 505px;
  font-family: 'Itim', cursive;
  text-align: center;
  margin: auto;
  font-size: 22px;
}

#sub-footer {
  color: #fff;
  width: 505px;
  font-family: 'Itim', cursive;
  text-align: center;
  margin: auto;
  font-size: 18px;
}

header {
  color: #63c6e8;
  font-family: 'Merriweather', serif;
  font-size: 40px;
}
